.appBar {
  display: flex;
  align-items: center;
  background: var(--color-primary);
  color: var(--color-white);
  height: 64px;
  padding: 8px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 
              0px 4px 5px 0px rgba(0,0,0,0.14), 
              0px 1px 10px 0px rgba(0,0,0,0.12);
}

.appBar button:first-of-type {
  margin-right: 20px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
