.drawer {
  position: fixed;
  height: 100%;
  width: 100%;
  visibility: hidden;
  top: 0;
  z-index: 2;
}

.box {
  position: absolute;
  width: 260px;
  height: 100%;
  z-index: 2;
  transform: translateX(-260px);
  transition: 0.3s;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
  border: none;

  &:focus {
    outline: none;
  }
}

.open {
  visibility: visible;

  & .box {
    transform: translateX(0);
  }

  & .overlay {
    opacity: 1;
  }
}
