.button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: var(--font-face);
  padding: 12px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  @media (--break-desktop) {
    display: inline-block;
    width: initial;
  }
}

.default {
  color: var(--button-default-text-color);
}

.primary {
  border: 2px solid var(--button-primary-border-color);
  color: var(--button-primary-text-color);
  background: var(--button-primary-background-color);

  & .spinner {
    opacity: 1;

    & div:nth-child(2) {
      background: var(--button-primary-spinner-background-color);
    }
  }
}
