.button {
  display: block;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  font-family: var(--font-default);
  padding: 12px 20px;
  width: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: center;

  @media (--break-desktop) {
    display: inline-block;
    width: initial;
  }
}

.default {
  border: 1px solid var(--button-default-border-color);
  color: var(--button-default-text-color);
}

.primary {
  border: 2px solid var(--button-primary-border-color);
  color: var(--button-primary-text-color);
  background: var(--button-primary-background-color);

  & .spinner {
    opacity: 1;

    & div:nth-child(2) {
      background: var(--button-primary-spinner-background-color);
    }
  }
}
