.iconButton {
  position: relative;
  background: var(--iconbutton-background-color);
  border: none;
  height: 48px;
  width: 48px;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;

  &:focus {
    outline: none;
  }

  &:hover {
    & .hoverEffect {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 48px;
      width: 48px;
      border-radius: 50%;
      z-index: 1;
      background: var(--iconbutton-hover-background-color);
    }
  }
}

.icon {
  position: relative;
  z-index: 2;
}

.default {
  &:hover {
    & .hoverEffect {
      opacity: 0.8;
    }
  }
}

.primary {
  background: var(--iconbutton-primary-background-color);
  color: var(--iconbutton-primary-text-color);

  & .icon {
    color: var(--iconbutton-primary-icon-text-color);
  }
  
  &:hover {
    & .hoverEffect {
      opacity: 0.2;
    }
  }
}
